@charset "UTF-8";
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f9f2e2;
    text-align: center;
}
.otsikko {
  color: rgb(204, 242, 208);
  background-color: #b26c3e;
  padding: 3%;
  font-family:fantasy;
}

img {
  background-color: #b26c3e;
  padding: 5px;
  margin: 10px;
  width: 45%;
  height: auto;

}
ul {
    align-items: center;
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #a0ab44;
  }
  
  li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: rgb(233, 245, 229);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    color: rgb(136, 183, 144);
    background-color: rgb(6, 111, 22);
  }
  
  .active {
    background-color: #627317;
  }

  .button {
    color: rgb(0, 0, 0);
    background-color: #f8bd76;
    font-size: 50px;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  .maker {
    margin: 15px;
    background-color: #a0ab44;
  }